<p>room-detail works!</p>
Room ID {{roomID}}
<div *ngIf="room">
    <h2>{{room.name | uppercase}} Details</h2>
    <div><span>id: </span>{{room.id}}</div>
    {{room.name}}
    <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Select Start Date" [(ngModel)]="startDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="Select End Date" [(ngModel)]="endDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="accent" class="Button" (click)="goBack()">go back</button>
    <button mat-raised-button color="accent" class="Button" (click)="make_booking()">Book Room</button>
</div>
  